*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: bold 20px aerial, sans-serif;
}

#calculator {
  width: 325px;
  height: auto;

  margin: 100px auto;
  padding: 20px 20px 9px;

  background: #FF69B4;
  border-radius: 3px;
}
/*Top portion*/
.top span.clear{
  float:left
}

.top .screen{
  height: 40px;
  width: 212px;
  float: right;
  padding: 8px;

  background:#FFF0F5;


  font-size: 17px;
  line-height: 40px;
  text-align: right;
}

.keys, .top{overflow:hidden;}

.keys span, .top span.clear {
  float: left;
 width: 66px;
  height: 40px;

  background: white;
  border-radius: 3px;
  margin: 0 7px 11px 0;

  color: #888;

  line-height: 36px;
  text-align: center;
  user-select: none;
}

/* Alighnment of objects */
.keys span.operator {
  margin-right: 0;
  background: #EEA9B8;
}

/* Multiplication symbols*/
.keys span.eval{
  background: #AB82FF;
}

/* for the "clear" button*/
.top span.clear{
  background: #FFC125	;
}

#footer {
  bottom : 170px;
  height : 40px;
  margin-top : 40px;
  text-align: center;
  vertical-align: middle;
  position:fixed;
  width:100%;

}
